.container {
  justify-content: flex-end;
}

.section.sidebar {
  top: 10000px;
  border-bottom: 10px solid #ececec;
  border-left: 10px solid #ececec;
  background-color: rgba(255, 255, 255, 1);
  left:1080px;
}

